<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conditions et Iterations</title>
</head>
<body>
    <div id="app">
        <button @click="show = !show">Toggle List</button>
        <button @click="list.push(list.length + 1)">Push Number</button>
        <button @click="list.pop()">Pop Number</button>
        <button @click="list.reverse()">Reverse List</button>

        <ul v-if="show && list.length">
            <li v-for="item of list">{{ item }}</li>
        </ul>
        <p v-else-if="list.length">La liste n'est pas vide, mais elle est cachée.</p>
        <p v-else>La liste est vide.</p>
    </div>

    <!-- Import Vue -->
    <script src="../vue.global.js"></script>
    <script type="module">

        Vue.createApp({
            data() {
                return {
                    show: true,
                    list: [1, 2, 3],
                }
            },
            methods: {
                toggleRed() {
                    this.isRed = !this.isRed;
                },

                toggleColor() {
                    this.color = this.color === 'green' ? 'blue' : 'green';
                }
            }
        }).mount('#app');
    </script>
</body>
</html>